spring:
  profiles:
    active: dev
  thymeleaf:
    cache: false
    encoding: UTF-8
    suffix: .html
  servlet:
    multipart:
      max-request-size: 128KB
      max-file-size: 128KB
  # Mail properties
  mail:
    host: smtp.gmail.com
    username: contoso.peru@gmail.com
    password: p1ls3n@1477
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            trust: smtp.gmail.com
          starttls:
            enable: true
#jmail.properties.mail.smtp.EnableSSL.enable:true;
